In [322]:
import pandas as pd
import numpy as np
from numpy import loadtxt
from pylab import *
import seaborn as sns
from IPython.core.interactiveshell import InteractiveShell  
InteractiveShell.ast_node_interactivity = "all"
from IPython.display import display, HTML
from scipy import stats
import matplotlib.pyplot as plt
import os
import missingno as msno;

In [323]:
path='Data.xlsx'
data=pd.read_excel(path)

sns.countplot(x='Siglas',data=data)

In [324]:
#check the shape of data
data.shape

(27185, 9)

In [325]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27185 entries, 0 to 27184
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Siglas        27185 non-null  object
 1   Nombre        27185 non-null  object
 2   Desde         27184 non-null  datetime64[ns]
 3   Hasta         27184 non-null  datetime64[ns]
 4   MD From (ft)  26180 non-null  float64
 5   MD to (ft)    26162 non-null  float64
 6   Codigo        27185 non-null  object
 7   Subcodigo     26936 non-null  float64
 8   Operación     27180 non-null  object
dtypes: datetime64[ns](2), float64(3), object(4)
memory usage: 1.9+ MB

## LIMPIEZA DE DATOS

In [326]:
 data["Operación"] = data["Operación"].str.lower().str.replace(r"\W"," ")

In [373]:
data.groupby(data["Operación"]).size().reset_index(name='contador')

                                               Operación  contador
0                  declared spud date on august 13th ...         1
1                  declared spud date on august 24th ...         1
2                 accepted drilling rig sinopec 917 o...         1
3                 accepted drilling rig sinopec 917 o...         1
4              accepted rig mec 4 on moriche bi 09 we...         1
...                                                  ...       ...
22550             working string up and down w o success         1
22551  working string up w  max  overpull 70 mklbs  t...         1
22552  working string up w  max  overpull 70 mklbs  t...         1
22553  working string up w  max  overpull 70 mklbs  t...         1
22554  working string up w  max  overpull 70 mklbs  t...         1

[22555 rows x 2 columns]

In [375]:
data = data.dropna()
data['Codigo'] = pd.to_numeric(data['Codigo'],errors = 'coerce')
data = data.reset_index(drop=True)

In [376]:
data = data.reset_index(drop=True)

In [438]:
def encuentra_key(base,pozo,key1,key2):
    '''
    Funcion que dada una base de datos, y una clave, encuentra los indices de la fila donde se encuentra el key
    ----------------------------------------------------------------------------------------------------------
    
    - base: Dataframe con una columna de texto, lamada Operación
    - key: Cadena de caracteres que se vá a buscar en cada fila de la columna Operación  
    
    '''
    base = base[base["Nombre"]==pozo]
    
    indice_ST=[] 
    indice_T=[]

    for fila in range(0,len(base)):

        fullstring = data["Operación"][fila]
        substring = key1

        if substring in fullstring:
            indice_ST.append(fila)
          
    ID = indice_ST[-1]
    ID_80=int(len(base)*0.8)
    
    if ID > ID_80:
        print ("El Key1 está dentro del ultimo 20% de las actividades")
        
    else:
        for fila in range(0,len(base)):
            fullstring = data["Operación"][fila]
            substring = key2
            
            if substring in fullstring:
                indice_T.append(fila)
                
        ID=indice_T[-1]

    
    base.iloc[ID]
            
    return pd.DataFrame(base.iloc[ID]).T
    #return base

In [439]:
encuentra_key(data,"MOR BL 04","setting tool","tubing")

,Siglas,Nombre,Desde,Hasta,MD From (ft),MD to (ft),Codigo,Subcodigo,Operación,contador
110,OCM,MOR BL 04,2011-05-25 02:30:00,2011-05-25 08:00:00,2773.0,2773.0,1100,1164.0,rih 2 7 8 tubing eue 31 62 ft niplesill...,1